html {
    min-width: 1200px;
    position: relative;
}

.center {
    margin: auto;
    text-align: center;
}


.bg-header {
    background: url(../img/header/header-background.svg);
    background-color: #F7F7F7;
    width: 100%;
    top: 0;
    position: absolute;
    height: 1355px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// --------------------------------------------------

.getStarted {
    margin: 165px 165px 850px 165px;
    text-align: center;

    &__title {
        color: #565656;
        font-family: "HelveticaRegular";
        font-size: 72px;
        font-weight: 700;
        letter-spacing: -0.72px;
        line-height: 76px;
        margin-bottom: 70px;
    }

    &__description {
        color: #565656;
        font-family: "HelveticaRegular";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 20px;
        max-width: 727px;
        margin: 0 auto;
        margin-bottom: 53px;
    }

    &__buttons {
        display: flex;
        justify-content: center;

        a {
            font-family: "HelveticaRegular";
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.2px;
            line-height: 23px;
            cursor: pointer;
            width: 251px;
            height: 85px;
            border-radius: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &:first-child {
                color: #ffffff;
                background-image: linear-gradient(#235a81 0%, #265c7f 50%, #2e6389 100%);
                opacity: 0.9;
                transition: all 0.25s;
                margin-right: 35px;
                border: 2px solid #295f83;

                &:hover {
                    opacity: 1;
                }
            }

            &:last-child {
                color: #2a5f84;
                border: 2px solid #295f83;
                background-color: transparent;
            }
        }
    }
}

// --------------------------------------------------

.aboutProject {
    color: #000000;
    font-family: "HelveticaRegular";
    text-align: center;
    position: relative;

    &__title {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.45px;
        line-height: 47px;
        margin-bottom: 40px;
        padding-top: 172px;
    }

    &__description {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.15px;
        line-height: 20px;
        margin: 0 auto;
        margin-bottom: 25px;
        max-width: 782px;
        text-align: center;
    }

    &__button {
        width: 251px;
        height: 85px;
        border-radius: 42px;
        background-image: linear-gradient(#235a81 0%, #265c7f 50%, #2e6389 100%);
        color: #ffffff;
        font-family: "HelveticaRegular";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 23px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 82px auto 124px auto;
        opacity: 0.9;
        transition: all 0.25s;

        &:hover {
            opacity: 1;
        }
    }

    &__arrow {
        transition: all 0.25s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__background {
        background: url(../img/about/about-background.svg);
        width: 100%;
        top: 0;
        position: absolute;
        height: 856px;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__arrowDown {
        margin-bottom: 350px;
        display: block;
    }

    &__items {
        display: flex;
        justify-content: center;
        padding: 60px 40px;
        transition: all 0.5s;
        width: 50%;

        &_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 175px;
        }

        &:hover {
            border-radius: 4px;
            background-color: #f5f5f5;
            transform: scale(1.1);
        }

        &_left-side {
            margin-right: 45px;
        }

        &_right-side {
            max-width: 272px;

            &_title {
                color: #3e3e3e;
                font-family: "HelveticaRegular";
                font-size: 27px;
                font-weight: 700;
                letter-spacing: -0.65px;
                line-height: 28px;
                margin-bottom: 25px;
            }

            &_description {
                color: #565656;
                font-family: "HelveticaRegular";
                font-size: 14px;
                font-weight: 400;
                letter-spacing: -0.34px;
                line-height: 19px;
            }
        }
    }
}

// --------------------------------------------------

.ecoSystem {

    &__arrow {
        transition: all 0.25s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__arrowDown {
        display: block;
        margin: 60px auto 160px auto;
        text-align: center;
    }

    &__title {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.45px;
        line-height: 47px;
        margin-bottom: 40px;
        text-align: center;
    }

    &__description {
        font-family: "HelveticaRegular";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 20px;
        max-width: 782px;
        margin: 0 auto;
        margin-bottom: 72px;
        text-align: center;
    }

    &__items-wrapper {
        background: url(../img/ecosystem/ecosystem-bg.svg);
        width: 100%;
        height: 1500px;
        z-index: -1;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: 100%;
        background-position: center;

        &_content {
            display: flex;
            justify-content: space-between;
            margin: 0 140px 40px 140px;
        }
    }

    &__card {
        max-width: 250px;
        text-align: center;

        &_title {
            margin: 40px 0 25px 0;
            color: #3e3e3e;
            font-family: "HelveticaRegular";
            font-size: 27px;
            font-weight: 700;
            letter-spacing: -0.65px;
            line-height: 28px;
            text-transform: uppercase;
        }

        &_description {
            color: #565656;
            font-family: "HelveticaRegular";
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.34px;
            line-height: 19px;
        }
    }
}

// --------------------------------------------------

.subscribe {
    background-image: linear-gradient(#fde9cf 0%, #dab883 47%, #f4ece2 100%);
    padding: 60px 0;

    &__title {
        color: #565656;
        font-family: "HelveticaRegular";
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin-bottom: 60px;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 750px;
        height: 85px;
        background-color: #e4cca7;
        border-radius: 42px;
        border: none;
        outline: none;
        padding-left: 75px;
        color: #2b6186;
        font-family: "HelveticaRegular";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 23px;

        &::placeholder {
            color: #2b6186;
            font-family: "HelveticaRegular";
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.2px;
            line-height: 23px;
        }
    }

    &__button {
        color: #ffffff;
        font-family: "HelveticaRegular";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 23px;
        width: 251px;
        height: 85px;
        border-radius: 42px;
        background-image: linear-gradient(#235a81 0%, #265c7f 50%, #2e6389 100%);
        cursor: pointer;
        opacity: 0.9;
        transition: all 0.25s;
        border: none;
        transform: translateX(-135px);
        outline: none;

        &:hover {
            opacity: 1;
        }
    }
}

// --------------------------------------------------

.subscribe-blue {
    background-color: #EBEBEB;
    padding: 60px 0;

    &__title {
        color: #565656;
        font-family: "HelveticaRegular";
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin-bottom: 60px;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 750px;
        height: 85px;
        background-color: #D9D9D9;
        border-radius: 42px;
        border: none;
        outline: none;
        padding-left: 75px;
        color: #2b6186;
        font-family: "HelveticaRegular";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 23px;

        &::placeholder {
            color: #2b6186;
            font-family: "HelveticaRegular";
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.2px;
            line-height: 23px;
        }
    }

    &__button {
        color: #ffffff;
        font-family: "HelveticaRegular";
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 23px;
        width: 251px;
        height: 85px;
        border-radius: 42px;
        background-image: linear-gradient(#235a81 0%, #265c7f 50%, #2e6389 100%);
        cursor: pointer;
        opacity: 0.9;
        transition: all 0.25s;
        border: none;
        transform: translateX(-135px);
        outline: none;

        &:hover {
            opacity: 1;
        }
    }
}

// --------------------------------------------------

.tokenomics {
    padding: 125px 90px 62.5px 125px;

    &__title {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.45px;
        line-height: 47px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__description {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 20px;
        max-width: 727px;
        text-align: center;
        margin: 0 auto;
    }

    &__subtitle {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.18px;
        line-height: 20px;
        max-width: 725px;
        text-align: center;
        margin: 0 auto;
    }

    &__arrow {
        transition: all 0.25s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__arrowDown {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bg {
        margin: 50px 0;

        img {
            width: 100%;
        }
    }
}

// --------------------------------------------------

.dmi {
    background-color: #F7F7F7;
    padding: 0 90px;

    &__title {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.45px;
        line-height: 47px;
        margin-bottom: 72px;
        padding-top: 70px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 120px;
    }

    &__lefSide {
        padding-right: 92px;
    }

    &__rightSide {
        &_description {
            color: #000000;
            font-family: "HelveticaRegular";
            font-size: 23px;
            font-weight: 400;
            letter-spacing: -0.23px;
            line-height: 32px;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}

// --------------------------------------------------

.blockchain {
    overflow: hidden;

    &__arrow {
        transition: all 0.25s;

        &:hover {
            transform: scale(0.9);
        }
    }

    &__arrowDown {
        text-align: center;
        display: block;
    }

    &__title {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.45px;
        line-height: 47px;
        margin: 62.5px auto 35px auto;
        text-align: center;
    }

    &__description {
        color: #000000;
        font-family: "HelveticaRegular";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 20px;
        margin-bottom: 85px;
        max-width: 725px;
        text-align: center;
        margin: 0 auto;
    }

    &__slider {
        margin: 90px 0 60px 90px;
        display: flex;
        width: max-content;

        &_item {
            max-width: 310px;
            max-height: 290px;
            overflow: hidden;
            background-color: #F3F6F8;
            border-radius: 4px;
            padding: 55px 15px 90px 65px;
            box-sizing: content-box;
            transition: all 0.25s;
            margin-right: 55px;

            &:hover {
                background-color: #D5DFE7;

                .blockchain__slider_title {
                    color: #2B6186;

                    svg {
                        path {
                            fill: #2B6186;
                        }
                    }
                }
            }
        }

        &_title {
            font-family: "HelveticaBold";
            font-size: 22px;
            line-height: normal;
            color: #000000;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            svg {
                margin-right: 10px;
            }
        }

        &_description {
            font-family: "HelveticaRegular";
            font-weight: 450;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -0.48px;
            color: #000000;
        }

        &_arrows {
            justify-content: center;
            display: flex;
            margin-bottom: 105px;

            svg {
                transition: all 0.25s;
                cursor: pointer;

                &:first-child {
                    margin-right: 25px;
                }

                &:hover {
                    g {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// --------------------------------------------------

.roadMap {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(221, 188, 138, 0.07) 40%, rgba(221, 188, 138, 0.08) 100%);

    &__title {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -0.45px;
        line-height: 47px;
        margin-bottom: 40px;
        text-align: center;
        padding-top: 110px;
        font-family: "HelveticaRegular";
    }

    &__description {
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 20px;
        max-width: 782px;
        margin: 0 auto;
        padding-bottom: 135px;
        text-align: center;
        font-family: "HelveticaRegular";
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 165px 200px 165px;

        &_leftSide {
            margin-right: 70px;
        }

        &_rightSide {
            display: flex;
            flex-direction: column;

            &_item {
                display: flex;
                margin-bottom: 30px;
            }

            &-line {
                margin-right: 35px;
            }

            &-content {
                h2 {
                    color: #cd9d52;
                    font-family: "HelveticaRegular";
                    font-size: 30px;
                    font-weight: 700;
                    letter-spacing: -0.3px;
                    line-height: 35px;
                    margin-bottom: 22px;
                }

                ul {
                    list-style: none;

                    li {
                        color: #3e3e3e;
                        font-family: "HelveticaRegular";
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: -0.2px;
                        line-height: 34px;
                    }
                }
            }
        }
    }
}