@font-face {
	font-family: 'HelveticaBold';
	src: url('../fonts/HelveticaBold.eot'),
		url('../fonts/HelveticaBold.ttf'),
		url('../fonts/HelveticaBold.woff');
}

@font-face {
	font-family: 'HelveticaRegular';
	src: url('../fonts/HelveticaRegular.eot'),
		url('../fonts/HelveticaRegular.ttf'),
		url('../fonts/HelveticaRegular.woff');
}
